name: Sync

on:
  # NOTE: github.event is push payload:
  # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push
  push:
    branches: [main]
    paths:
      - .github/ISSUE_TEMPLATE/0_bug.yml
      - .github/ISSUE_TEMPLATE/1_feature.yml
      - .github/ISSUE_TEMPLATE/epic.yml
      - .github/PULL_REQUEST_TEMPLATE/with_releases.md
      - .github/PULL_REQUEST_TEMPLATE/without_releases.md
      - .github/sync/config.yml  # trigger sync if config is modified
      - .github/sync/RELEASE.md
      - .github/sync/rever.xsh
      - .github/sync/TEMPLATE
      - .github/workflows/cla.yml
      - .github/workflows/issues.yml
      - .github/workflows/labels.yml
      - .github/workflows/lock.yml
      - .github/workflows/project.yml
      - .github/workflows/stale.yml
      - .github/workflows/sync.yml  # trigger sync if workflow is modified
      - CODE_OF_CONDUCT.md
      - HOW_WE_USE_GITHUB.md

  # NOTE: github.event is workflow_dispatch payload:
  # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#workflow_dispatch
  workflow_dispatch:

jobs:
  sync:
    if: '!github.event.repository.fork'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: BetaHuhn/repo-file-sync-action@v1.21.0
        with:
          GH_PAT: ${{ secrets.SYNC_TOKEN }}
          PR_LABELS: false
          CONFIG_PATH: .github/sync/config.yml
          COMMIT_EACH_FILE: false
          GIT_USERNAME: Conda Bot
          GIT_EMAIL: conda-bot@users.noreply.github.com
